.node--view-mode-full.node--type-recette-de-cuisine {
  .field--type-string-long {
    color: red;
  }
}

.node--view-mode-teaser {
  .node__content {
    overflow: hidden;
    transition: all 200ms ease;
  }
}

.node--view-mode-teaser.collapsed {
  .node__content {
    height: 0;
  }
}
